<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Appointments</title>
    <link th:href="@{/dashboard/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body id="page-top">

<div id="wrapper">

    <div th:replace="pageFragments/doctorSidebar :: sidebar"></div>

    <div id="content-wrapper" class="d-flex flex-column" style="margin-left: 225px;">

        <div id="content">

            <div th:replace="pageFragments/doctorTopbar :: topbar"></div>

            <div class="container-fluid">

                <h1 class="h3 mb-4 text-gray-800">Appointments</h1>

                <div class="card shadow mb-4">
                    <div class="card-header">
                        Upcoming Appointments
                    </div>

                    <div class="card-body">

                        <div th:if="${upcomingAppointments == null or #lists.isEmpty(upcomingAppointments)}">
                            No upcoming appointments.
                        </div>

                        <div th:if="${upcomingAppointments != null and !#lists.isEmpty(upcomingAppointments)}"
                             class="table-responsive">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Patient</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="appointment : ${upcomingAppointments}">
                                    <td th:text="${#temporals.format(appointment.startTime, 'MMM dd, yyyy')}"></td>
                                    <td th:text="${#temporals.format(appointment.startTime, 'h:mm a')}"></td>
                                    <td th:text="${#temporals.format(appointment.endTime, 'h:mm a')}"></td>
                                    <td th:text="${appointment.patient.firstName + ' ' + appointment.patient.lastName}"></td>
                                    <td th:text="${appointment.type}"></td>
                                    <td>
                                        <span class="badge"
                                              th:classappend="
                                                ${appointment.status.name() == 'CONFIRMED'} ? 'badge-warning' :
                                                (${appointment.status.name() == 'COMPLETED'} ? 'badge-success' :
                                                'badge-secondary')"
                                              th:text="${appointment.status}">
                                        </span>
                                    </td>
                                    <td>
                                        <a th:if="${appointment.status.name() == 'COMPLETED' and !appointment.hasPrescription}"
                                           th:href="@{/doctor/prescriptions/create-form(appointmentId=${appointment.id})}"
                                           class="btn btn-sm btn-primary">
                                            Prescription
                                        </a>

                                       <a th:if="${appointment.status.name() == 'COMPLETED' and !appointment.hasLabRequest}"
                                            th:href="@{/doctor/labs/create-form(appointmentId=${appointment.id})}"
                                            class="btn btn-sm btn-info">
                                            Lab
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header">
                        Completed Appointments
                    </div>

                    <div class="card-body">

                        <div th:if="${completedAppointments == null or #lists.isEmpty(completedAppointments)}">
                            No completed appointments.
                        </div>

                        <div th:if="${completedAppointments != null and !#lists.isEmpty(completedAppointments)}"
                             class="table-responsive">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Patient</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="appointment : ${completedAppointments}">
                                    <td th:text="${#temporals.format(appointment.startTime, 'MMM dd, yyyy')}"></td>
                                    <td th:text="${#temporals.format(appointment.startTime, 'h:mm a')}"></td>
                                    <td th:text="${#temporals.format(appointment.endTime, 'h:mm a')}"></td>
                                    <td th:text="${appointment.patient.firstName + ' ' + appointment.patient.lastName}"></td>
                                    <td th:text="${appointment.type}"></td>
                                    <td>
                                        <span class="badge"
                                              th:classappend="
                                                ${appointment.status.name() == 'CONFIRMED'} ? 'badge-warning' :
                                                (${appointment.status.name() == 'COMPLETED'} ? 'badge-success' :
                                                'badge-secondary')"
                                              th:text="${appointment.status}">
                                        </span>
                                    </td>
                                    <td>
                                        <a th:if="${appointment.status.name() == 'COMPLETED' and !appointment.hasPrescription}"
                                           th:href="@{/doctor/prescriptions/create-form(appointmentId=${appointment.id})}"
                                           class="btn btn-sm btn-primary">
                                            Prescription
                                        </a>

                                        <a th:if="${appointment.status.name() == 'COMPLETED'}"
                                           th:href="@{/doctor/labs/create-form(appointmentId=${appointment.id})}"
                                           class="btn btn-sm btn-info">
                                            Lab
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div th:replace="pageFragments/doctorFooter :: footer"></div>

    </div>
</div>

<script th:src="@{/dashboard/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dashboard/js/sb-admin-2.min.js}"></script>

</body>
</html>