<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient Dashboard</title>
    <link th:href="@{/dashboard/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body id="page-top">

<div id="wrapper">

    <div th:replace="pageFragments/patientSidebar :: sidebar"></div>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <div th:replace="pageFragments/patientTopbar :: topbar"></div>

            <div class="container-fluid">

                <h1 class="h3 mb-4 text-gray-800">Patient Dashboard</h1>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        Calendar
                    </div>
                    <div class="card-body">
                        Calendar goes here
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        Important Information
                    </div>
                    <div class="card-body">
                        Upcoming appointments, refills, notifications
                    </div>
                </div>

            </div>
        </div>

        <div th:replace="pageFragments/patientFooter :: footer"></div>

    </div>
</div>

<script th:src="@{/dashboard/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dashboard/js/sb-admin-2.min.js}"></script>

</body>
</html>